
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-boxs;
    
}

.general {
     margin: auto;
     width: 100%;
     height: 200px;
    background-color: #0f0f0f;
    
}

.ariba {
    margin: auto;
    width: 100%;
    height: 50px;
    background-color: rgba(245, 55, 102, 0.842);
}

.medio {
    margin: auto;
    width: 100%;
    height: 500px;
    background-color: grey;
    padding-left: 25px;
    padding-top: 25px;
}

ul {
    padding-left: 25px;
    padding-top: 25px;
    
}